FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=cambia-esto-por-una-clave-secreta-muy-larga-y-segura

# Configuración MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sales_admin
DB_USER=root
DB_PASSWORD=toor

# Admin inicial (para el seed)
ADMIN_USERNAME=admin
ADMIN_EMAIL=jponce@intelisis.com
ADMIN_PASSWORD=jponce2022
